<div class="container mt-5">
  <table
    class="table table-striped table-bordered row-border hover"
    datatable
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
  >
    <thead>
      <tr>
        <th *ngFor="let column of columns">{{ column }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataSource">
        <td>{{ data.employee_name }}</td>
        <td>{{ data.employee_salary }}</td>
        <td>{{ data.employee_age }}</td>
      </tr>
    </tbody>
  </table>
</div>
